
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

.wrapper {
    text-align: center;
}

.wrapper h2 {
    margin-bottom: 20px;
    font-size: 37px;
}

.wrapper textarea {
    resize: none;
    border: 4px solid mediumvioletred;
    outline: 0;
    width: 100%;
    padding: 20px;
}

.wrapper ::placeholder {color: darkgrey;font-size: 16px;}

.count-vowel {
    margin-top: 20px;
}

.count-title {
    background: gray;
    outline: none;
    font-size: 24px;
    color: #fff;
}

button#checkBtn {
    margin: 30px;
    background: darkcyan;
    color: #fff;
    outline: 0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
}

span#vowelCount {
    background: black;
    font-size: 24px;
    padding: 2px;
    color: #fff;
}