* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.wrapper {
    text-align: center;
}


.wrapper h2 {
    font-size: 32px;
}

.quote-info {
    margin: 23px;
    background: paleturquoise;
    padding: 47px;
}

.quote-info h4, cite {
    margin-bottom: 10px;
    color: dimgray;
}

.quote-info cite {
    font-weight: 800;
    display: block;
    margin-top: 20px;
}

#quote-btn {
    background: cadetblue;
    border: navajowhite;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}